
logs
project/project
project/target
modules/**/project
modules/**/target
target
tmp
*.tmp
.history
dist
.idea
*.iml
*.eml
/out
.idea_modules
.classpath
.project
.worksheet
*.sc
modules/**/*DS*
*DS*


